body {
	color: #000;
}

p {
	margin: 0;
	padding: 0;
	font-size: 2rem;
}

h1 {
	background: red;
	font-size: 4rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
